@import "tailwindcss";

.container {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-size: 40px;
  margin-bottom: 20px;
}

.textarea {
  width: 320px;
  height: 90px;
  padding: 10px;
  margin-bottom: 15px;
}

.botao {
  width: 320px;
  padding: 12px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.lista {
  margin-top: 20px;
  width: 320px;
}

.textarea {
  width: 320px;
  height: 90px;
  padding: 10px;
  margin-bottom: 15px;

  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* NAVBAR */

.navbar {
  background: #111827;
  padding: 15px 30px;
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.nav-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links a:hover {
  color: white;
}

.user-email {
  font-size: 14px;
  color: #9ca3af;
}

.btn-primary {
  background: #2563eb;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.btn-primary:hover {
  background: #1d4ed8;
}

.btn-outline {
  border: 1px solid #2563eb;
  color: #2563eb;
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.2s;
}

.btn-outline:hover {
  background: #2563eb;
  color: white;
}

.btn-danger {
  background: #dc2626;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-danger:hover {
  background: #b91c1c;
}

.auth-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
}

.auth-box {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.auth-box h1 {
  text-align: center;
  margin-bottom: 10px;
}

.auth-box input {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
}

.auth-box input:focus {
  outline: none;
  border-color: #2563eb;
}

.auth-box button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.auth-box button:hover {
  background: #1d4ed8;
}

.msg {
  text-align: center;
  font-size: 14px;
}
